$COLOR_GRAD_1: #0099cc;
$COLOR_GRAD_2: #00ffa2;

// .header--gradient{
//   position:absolute;
//   top:0;
//   clip-path: url(#headerSvg);
//   width:100%;
//   height: 500px;
//   background-image:
//     linear-gradient(
//       65deg,
//       $COLOR_GRAD_2 40%,
//       $COLOR_GRAD_1 60%
//     );
// }
.poly{
  fill:none;
  stroke:none;
  stroke-miterlimit:10;
}

.poly01{
  fill: #2098D1;
  stroke:#2098D1;
  stroke-width:2px;
}

.poly02{
  fill: url(#grad1);
  stroke:url(#grad1);
  stroke-width:2px;
}

.poly03{
  fill: url(#grad2);
  stroke:url(#grad2);
  stroke-width:2px;
}

.poly04{
  fill: #40FA96;
  stroke:#40FA96;
  stroke-width:2px;
}
