.poly{
  fill:none;
  stroke:none;
  stroke-miterlimit:10;
}

.poly01{
  fill: #7c9a92;
  stroke:#7c9a92;
  stroke-width:2px;
}

.poly02{
  fill: #3f5b68;
  stroke:#3f5b68;
  stroke-width:2px;
}

.poly03{
  fill: #536d6c;
  stroke:#536d6c;
  stroke-width:2px;
}

.poly04{
  fill: #314448;
  stroke:#314448;
  stroke-width:2px;
}
